// main: style.scss

$serif: 'Raleway', sans-serif;
$sans-serif: 'Open sans', serif;

h1,h2,h3,h4,h5,h6 {
  font-family: $serif;
}

h1 {
  color: #444;
  margin-top: 0;
  font-size: 25px;
}

p {
  line-height: 1.7em;
  margin: 0 0 10px;
  color: $dark;
}
