<ul class="docnav nav">

  {% for section in site.docsections %}
    {% assign attr = section[0] %}
    {% assign label = section[1] %}

    {% for p in site.categories[attr] %}

        {% if forloop.first %}
          <li class="nav-header">
            <h4>{{ label }}</h4>
          </li>
        {% endif %}

        <li class="nav-page" data-order="{{ p.order }}">
          <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
            {{ p.title }}
          </a>
          <!-- <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a> -->
        </li>

      {% endfor %}
  {% endfor %}
</ul>
