<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <small>2015 <a href="http://urbanlink.nl" target="_blank">urbanlink.nl</a></small>
        <br><br>
      </div>
    </div>

    <!-- Begin MailChimp Signup Form -->
    <!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css"> -->
    <div id="mc_embed_signup" class="row">
      <form action="//urbanlink.us1.list-manage.com/subscribe/post?u=313f35e20a6b9779ae19f74b3&amp;id=06c13c7325" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="col-md-4">
          <input class="form-control" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Want to stay in the loop? Subscribe to our mailing list" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_313f35e20a6b9779ae19f74b3_06c13c7325" tabindex="-1" value="">
          </div>
        </div>
        <div class="col-md-3">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-primary">
        </div>
      </form>
    </div>
      <!--End mc_embed_signup-->

    </div>
  </div>
</div>
